{% extends 'base.html' %}
{% block title%}修改页面{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/select_staff.css') }}">
    <script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
{% endblock %}

{% block main %}
    <ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#worker" data-toggle="tab">员工信息</a></li>
	<li><a href="#workshop" data-toggle="tab">车间信息</a></li>
	<li><a href="#cooperation" data-toggle="tab">顾客信息</a></li>
    <li><a href="#product" data-toggle="tab">产品信息</a></li>
    <li><a href="#order" data-toggle="tab">仓库信息</a></li>
    <li><a href="#warehouse" data-toggle="tab">订单信息</a></li>
    </ul>

    {% if success == True %}
        {% include 'myModel/successModel.html' %}
    {% endif %}

    {% if success == False %}
        {% include 'myModel/warningModel.html' %}
    {% endif %}


<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade  in active" id="worker">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=1) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入要修改的员工编号" name="worker_id" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="年龄" name="new_age" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="联系方式" name="new_tel" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="地址" name="new_addr" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="工资" name="new_salary" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="工种" name="new_type" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="车间号" name="new_workshop" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>

 <div class="tab-pane fade" id="workshop">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=2) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入要修改的车间编号" name="workshop_id" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="主任编号" name="new_dir" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="办公电话" name="new_tel" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>

 <div class="tab-pane fade" id="cooperation">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=3) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入公司名称" name="company" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="联系方式" name="new_tel" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="联系人" name="new_name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="联系地址" name="new_addr" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>

 <div class="tab-pane fade" id="product">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=4) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入产品编号" name="product_id" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="产品名称" name="product_name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="出厂价" name="price" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="酬劳" name="reward" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="月产量" name="output" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>



 <div class="tab-pane fade" id="order">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=6) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入仓库编号" name="warehouse_id" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="管理员编号" name="worker_id" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="电话" name="tel" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>

 <div class="tab-pane fade" id="warehouse">
    <h3 class="page-title">修改信息</h3>
    <form action="{{ url_for('db_options.update_in_db',update_id=5) }}" method="post">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="请输入订单编号" name="order_num" class="form-control">
                </div>
                <h4 class="page-title"><strong>修改信息(不修改的部分不填)</strong></h4>
                <div class="form-group">
                    <input type="text" placeholder="下单日期" name="order_date" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="交货日期" name="delivery_date" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="订单状态" name="order_state" class="form-control">
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>

            </div>
    </form>
    </div>
</div>
{% endblock %}